/* userContent.css */
@-moz-document url(about:newtab), url(about:home) {
            body.activity-stream {
            background-image: url("wallpaper.jpg") !important;
            background-size: cover;
            background-position: center bottom;
                 }
          .icon-wrapper{
            width: 95% !important;
            height: 95% !important;
                 }
          .top-site-icon {
            background-color: rgba(0,0,0,0) !important;
                 }
          .top-site-button {
            background-color: rgba(0,0,0,0.5) !important;
            box-shadow: 1px 1px 6px 6px rgba(122, 130, 146, 0.3) !important;
            height: 96% !important;
            position: relative; top: -8px; 
                 }
          .title{
            width: 80% !important;
            text-align: center !important;
            position: relative; left: 10px; 
                 }
          .tile {
            background-color: rgba(0,0,0,0.5) !important;
            box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
            border-radius: 5 !important;
            position: relative; top: 3px; 
                 }
          .customize-menu{
                  background-color: rgba(0,0,0,0.85) !important;
          }
          .context-menu-button {
            background-image: url("chrome://global/skin/icons/settings.svg") !important;
                 }
          .icon-pin-small{
            display: none !important;
                 }
          .top-site-outer:is(.active, :focus, :hover){ 
            background: rgba(0, 0, 0, 0) !important; 
                 }
          .top-site-outer:is(.active, :focus, :hover) .top-site-button {
            box-shadow: 1px 1px 6px 6px rgba(122, 130, 179, 0.8) !important;
                 }
          .top-site-outer:is(.active, :focus, :hover) .icon-wrapper{
            width: 100% !important;
            height: 100% !important;
                 }
          .top-site-outer:is(.active, :focus, :hover) .default-icon{
             background-size: 40px !important;
             height: 40px !important;
             width: 40px !important;
                 }
}
